# ==========================================
# HUELLA MARKET - BACKEND
# ==========================================

# APP
PORT=3002
NODE_ENV=development

# ==========================================
# DATABASE - MYSQL
# ==========================================
DB_DIALECT=mysql

DB_MYSQL_HOST=localhost
DB_MYSQL_PORT=3307
DB_MYSQL_USERNAME=root
DB_MYSQL_PASSWORD=CHANGE_ME
DB_MYSQL_NAME=HuellaMarket

# ==========================================
# JWT
# ==========================================
JWT_SECRET=CHANGE_ME
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=CHANGE_ME
JWT_REFRESH_EXPIRES_IN=7d
